!----------------------------------------------------------------------
! urxvt settings
!----------------------------------------------------------------------

URxvt.loginShell:		true
URxvt.scrollBar:  		false
URxvt*termName:   		screen-256color
URxvt*transparent:		true
URxvt*shading:			23
URxvt*utf8:       		true
URxvt.font:			xft:SourceCodePro-Semibold:size=12
URxvt.foreground:		#8ED3F5
URxvt.backgroud:		#101010

!----------------------------------------------------------------------
! terminal colors
!----------------------------------------------------------------------

! Black (not tango) + DarkGrey
*color0:  #000000
*color8:  #555753

! DarkRed + Red
*color1:  #ff6565
*color9:  #ff8d8d

! greens
*color2:  #93d44f
*color10: #c8e7a8

! DarkYellow + Yellow
*color3:  #eab93d
*color11: #ffc123

! DarkBlue + Blue
*color4:  #204a87
*color12: #3465a4

! DarkMangenta + Mangenta
*color5:  #ce5c00
*color13: #f57900

!DarkCyan + Cyan (both not tango)
*color6:  #89b6e2
*color14: #46a4ff

! LightGrey + White
*color7:  #cccccc
*color15: #ffffff

!----------------------------------------------------------------------
! font configuration
!----------------------------------------------------------------------

Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintlight
Xft.hinting:    true
Xft.antialias:  true
Xft.rgba:       rgb
Xft.dpi:        96